.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

input {
  margin-bottom: 30px;
  font-size: 1.5rem;
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  border-radius: 8px;
}
